---
layout: default
---

<div class="container">

  <h1>Insu Yun(윤인수)</h1>
  <div class="row">
    <div class="col-sm-8">
      <p>
      Ph.D. Student</br>
      Advisor: <a href="http://taesoo.gtisc.gatech.edu">Taesoo Kim</a></br>
      School of Computer Science</br>
      College of Computing</br>
      Georgia Institute of Technology</br>
      </p>
    </div>
    <div class="col-sm-4">
      <img src="{{ " /assets/img/insu.jpg" | prepend: site.baseurl }}" />
    </div>
  </div>

  <h2>News</h2>
  <ul>
    {% for e in site.data.news %}
    <li>
      <b>[{{ e.date }}]</b> {{ e.content }}
    </li>
    {% endfor %}
  </ul>

 
  <h2>Publication</h2>
  <ol>
    {% for pub in site.data.pubs %}
    <li>
    <b>{{ pub.title }}</b> <br>
    {{ pub.author | join: ', '}} <br>
    {{ pub.conf }} <br>
    {{ pub.loc}} <br>
    </li>
    {% endfor %}
  </ol>

  <h2>Awards</h2>
  <ol>
    {% for award in site.data.awards %}
    <li>
    <b>{{ award.name }}</b>,
    {{ award.grade }},
    {{ award.loc }},
    {{ award.month }}
    </li>
    {% endfor %}
  </ol>
</div>
